@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap'); /*font-family: 'Dancing Script', cursive;*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://wallpaperaccess.com/full/1644014.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 20px;
    color: white;
}

.content p span{
    color: #1b9bff;
}
.content h1 span{
    color: #1b9bff;
    font-size: 60px;
    font-weight: bolder;
}

.content ul {
    list-style-type: square;
}

.content li{
    left: 23%;
    margin: 10px;
}

.img {
    top: 45%;
    right: 12%;
    float: right;
    position: absolute;
}

.img img{
    height: 30vh;
    width: 30vw;
}

.skill{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://wallpaperaccess.com/full/1644014.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.skill h1{
    color: white;
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
   text-decoration: solid underline #1b9bff;
}

.skill h1 span{
    color: #1b9bff;
}

.clogo img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: 15%;
}

.csslogo img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: 75%;
}

.htmllogo img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: 35%;
}

.cpplogo img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: 55%;
}

.tools{
    top: 150%;
    position: absolute;
    left: 40%;
    
}

.tools h1{
    text-align: center;
    left: 40%;
    color: #1b9bff;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: solid underline #1b9bff;
}

.tools h1 span{
    color: white;
}


.vscode img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: -100%;
}

.msoffice img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: -20%;
}
.git img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 19vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: 150%;
}
.github img {
    border:3px solid #0082e6;
    border-radius: 10px;
    height: 20vh;
    width: 10vw;
    padding: 3px;
    position: absolute;
    left: 66%;
}

@media screen and (max-width: 600px){

    .img{
        position: absolute;
        top: 15%;
        left: 35%;
    }

    .content{
        text-align: left;
        top: 45%;
        left: 2%;
    }

    .skill{
        height: 230vh;
    }

    .skill h1{
        position: absolute;
        top: 145vh;
        font-size: 40px;
        text-decoration: none;
    }

    .skill h1 span{
        text-decoration: underline solid #1b9bff;
    }

    .clogo img {
        width: 35vw;
        left: 7%;
        top: 180%;
        
    }

    .htmllogo img{
        width: 34vw;
        left: 60%;
        top: 180%;

    }

    .cpplogo img{
        top: 210%;
        width: 35vw;
        left: 7%;
    }

    .csslogo img{
        top: 210%;
        width: 34vw;
        left: 60%;
    }

    .tools{
        height: 40vh;
        /* left: 25%; */
    }

    .tools h1{
        position: absolute;
        top: 210%;
        left: -55px; 
    }

    .tools h1 span{
        display: none;
    }

    .vscode img{
        top: 280%;
        width: 34vw;
        left: 70px;
    }

    .msoffice img{
        top: 280%;
        width: 34vw;
        left: -125px;
    }

    .git img{
        top: 380%;
        width: 34vw;
        left: -125px;
    }

    .github img{
        top: 380%;
        width: 34vw;
        left: 70px;
        
    }



}