*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.main{
    width: 100%;
    height: 210vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://wallpaperaccess.com/full/1644014.jpg);
    background-size: cover;
    background-position: center;
}

.main h1{
    position: absolute;
    color: white;
    left: 43%;
    top: 12%;
    font-size: xxx-large;
}

.main h1 span{
    color: #1b9bff;
    text-decoration: underline #1b9bff;
}

/* .container{
    display: block;
    position: absolute;
    top: 20%;
    left: 10%;
    border: 2px 2px 2px 2px solid #1b9bff;
    box-shadow: 0px 10px 10px 0 white;
    background-color: white;
} */

.edu{
    position: absolute;
    top: 25%;
    left: 15%;
}

.edu h1{
    position: absolute;
    color: #1b9bff;
    text-shadow: 2px 2px 2px #fff;
    top: -25%;
    left: -10%;
}

.edu .info{
    top: 60px;
    width: 80vw;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: 50px;
    border-left: 5px solid #1b9bff;
    padding-left: 15px;
    font-size: 20px;
    
}

.edu p{
    font-size: 20px;
}

.edu p span{
    padding: 8.5vw;
    text-align: justify;
}

.edu .p2{
    top: 120px;
}

.training{
    position: absolute;
    top: 80%;
    left: 15%;
}

.training .info-tr{
    top: 60px;
    left: 15%;
    width: 80vw;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: 50px;
    border-left: 5px solid #1b9bff;
    padding-left: 15px;
    font-size: 20px;    
}

.training .info-tr h1{
    position: absolute;
    left: -10%;
    top: -20%;
    color: #1b9bff;
    text-shadow: 2px 2px 2px #fff;
}

.training p span{
    padding: 13.5vw;
    text-align: justify;
}

.skill{
    position: absolute;
    top: 150%;
    left: 15%;
}

.skill .info-sk{
    top: 60px;
    left: 15%;
    width: 80vw;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: 50px;
    border-left: 5px solid #1b9bff;
    padding-left: 15px;
    font-size: 20px;    
}

.skill .info-sk h1{
    position: absolute;
    left: -10%;
    top: -25%;
    color: #1b9bff;
    text-shadow: 2px 2px 2px #fff;
}

@media screen and (max-width: 600px) {
    .main{
        height: 265vh;
    }
    .main h1{
        top: 10%;
        left: 80px;
    }

    .edu .info{
        left: -55px;
    }

    .edu h1{
        top: -55%;
        left: -15%;
    }

    .edu p{
        font-size: 15px;
    }

    .edu p span{
        padding: 8.5vw;
        text-align: justify;
        position: absolute;
        top: 25px;
        left: 28%;
    }
    
    .edu .p2{   
        position: absolute;
        top: 25vh;
    }

    .edu .p2 span{
        position: absolute;
        top: -1vh;
        left: 5vw;
        width: 80vw;
    }

    .training{
        position: absolute;
        top: 60%;
        left: 15%;
    }

    .training .info-tr h1{
        top: -10vh;
    }

    .training .info-tr{
        position: absolute;
        top: 35vh;
        left: -20vw;
    }

    .training p {
        position: absolute;
        top: 4vh;
        font-size: 17px;
    }

    .training p span{
        top: 1vh;
        left: -3vw;
        position: absolute;
    }

    .training .p2{
        top: ;
    }



    .skill .info-sk{
        position: absolute;
        top: 60vh;
        left: -20vw;
    }
        
}



