 @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Martian+Mono:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');    /*  font-family: 'Sevillana', 'cursive'; */
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap'); /*font-family: 'Dancing Script', cursive;*/
 *{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://wallpaperaccess.com/full/1644014.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    position: absolute;
    top: 45%;
    left: 20%;
    font-size: 20px;
    color: white;
}

.content h1{
    margin-top: 50px;
    font-size: 50px;
}

.content h1 span{
    color: #1b9bff;
    transition: 5s;
    font-family: 'Martian Mono', monospace;
}

.img{
    top: 35%;
    right: 15%;
    position: absolute;
}

.img img{
    width: 50vh;
    height: 50vh;
    float: right;
    
}

.intro{
    top: 110%;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://wallpaperaccess.com/full/1644014.jpg);
    background-size: cover;
    background-position: center;
}

.info{
    position: absolute;
    top: 110%;
    color: white;
    right: 20%;
}

.info h1{
    font-size: 40px;
}

.info h1 span{
    font-family: 'Sevillana', 'cursive';
    color: #1b9bff;
    transition: .5s;
    text-decoration: underline;
}

.pic{
    position: absolute;
    top: 130%;
    left: 10%;

}
.pic img{
    height: 50vh;
    width: 25vw;
}

.material{
    color: white;
    position: absolute;
    top: 140%;
    right: 10%;
    font-size: 20px;
    padding-top: 10px;
    text-align: justify;
}

.material span{
    color: #1b9bff;
}

@media screen and (max-width: 600px){
    .img img{
        position: absolute;
        top: 10%;
        left: 40%;
        width: 60vw;
        height: 30vh;
        float: right;
    }

    .img{
        top: 15%;
        left: -20%;
        justify-content: center;
        position: absolute;
    }

    .content{
        position: absolute;
        font-size: 20px;
        color: white;
        left: 8%;
        top: 50%;
    }

    .intro{
        height: 150vh;
    }

    .info{
        position: absolute;
        color: white;
    }
    
    .info h1{
        position: absolute;
        font-size: 20px;
        right: 30%;
        width: 237px;
    }

    .pic{
        position: absolute;
        top: 115%;
        left: 25%;
    
    }
    .pic img{
        height: 30vh;
        width: 50vw;
    }

    .material{
        padding-left: 25px;
        top: 150%;
    }


}