 @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    
}

nav{
    background: #0082e6;
    width: 100vw;
}

label.logo{
    color: white;
    font-size: 30px;
    line-height: 70px;
    padding-left: 20px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 2px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://wallpaperaccess.com/full/1644014.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    width: 100vw;
    position: absolute;
    top: 45%;
    left: 20%;
    font-size: 20px;
    color: white;
}

.content h1{
    margin-top: 50px;
    font-size: 50px;
}

.content h1 span{
    color: #1b9bff;
}

.img{
    top: 35%;
    right: 15%;
    position: absolute;
}

.img img{
    width: 50vh;
    height: 50vh;
    float: right;
    
}
